<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />

    <title>Gallery page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <section class="gallery">
      <h1>Gallery</h1>
      <img src="../public/Images/trilha-mariana1.jpeg" alt="trilha-mariana 1" />
      <img src="../public/Images/trilha-mariana2.jpeg" alt="trilha-mariana 2" />
      <img src="../public/Images/trilha-mariana3.jpeg" alt="trilha-mariana 3" />
    </section>
  </body>
</html>
